body {
    background-color: hwb(197 5% 55%);
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

header {
    background-color: hsl(197, 99%, 45%);
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #1a0202;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a54949;
}

section {
    margin-top: 20px;
}

h2 {
    color: #e4e4e4;
}

code {
    background-color: #363030;
    border: 1px solid #ccc;
    padding: 2px 4px;
    font-family: 'Courier New', monospace;
}

pre {
    background-color: #2b2929;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-x: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #fff;
}